.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/cache
tmp/pids
tmp/sessions
tmp/sockets
.sass-cache
erd.pdf
coverage/*
reports/*
public/assets
public/system
/images
/config/database.yml
/config/deploy.rb
/config/deploy/*
/config/initializers/gmail.rb
/vendor/bundle/
Gemfile.lock
*.swp
