.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache
erd.pdf
coverage/*
reports/*
public/assets
public/system
/images
/config/database.yml
/config/initializers/google.rb
/vendor/bundle/
Gemfile.lock
*.swp
